Flask-SocketIO==1.2
Flask==0.10.1
python-socketio==0.7.0
python-engineio==0.8.1
Werkzeug==0.15.3
Jinja2==2.8
itsdangerous==0.24
six==1.10.0
gevent==1.5.0
greenlet==0.4.15
MarkupSafe==0.23
eventlet==0.25.0
