<html oncontextmenu="return false">
<head>
<title>Space Server</title>
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<script src="/static/js/jquery.js"></script>
<script src="/static/js/socketio.js"></script>
<script src="/static/js/home.js"></script>
</head>
<body>
<noscript>
<div class="coverall error">
<div class="container">
<h1>ERROR</h1>
<p>Please enable JavaScript in your web browser. If you continue to experience issues, try the latest version of Chrome or Firefox.</p>
</div>
</div>
<div style="display:none">
</noscript>
<div class="container main">
<h1>Space Server</h1>
<div id="connecting"><div class="pulse">Connecting... Please Wait</div><br /><div class="fadein">CONTACT FLIGHT DIRECTOR IF THIS MESSAGE DOES NOT DISAPPEAR</div></div>
<div id="stations" class="fadefast" style="display:none;">
	<div class="row">
	<button class="col2">Commander</button>
	<button class="col2">Navigator</button>
	<button class="col2">Tactical</button>
	<button class="col2">Operations</button>
	<button class="col2">Engineer</button>
	<button class="col2">Main Screen</button>
	</div>
</div>
<div id="reconnecting" style="display:none;"><div class="red pulse">CONNECTION LOST. RECONNECTING...</div><br /><div class="red fadein">CONTACT FLIGHT DIRECTOR IF THIS MESSAGE DOES NOT DISAPPEAR</div></div>
</div>
<noscript>
</div>
</noscript>
</body>
</html>