<html>
<head>
<title>Space Server</title>
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<script src="/static/js/jquery.js"></script>
<script src="/static/js/socketio.js"></script>
<script src="/static/js/home.js"></script>
</head>
<body>
<noscript>
<div class="coverall error">
<div class="container">
<h1>ERROR</h1>
<p>Please enable JavaScript in your web browser. If you continue to experience issues, try the latest version of Chrome or Firefox.</p>
</div>
</div>
<div style="display:none">
</noscript>
<div class="container main">
<h1>Space Server</h1>
<center class="pulse">Connecting... Please Wait</center>
</div>
<noscript>
</div>
</noscript>
</body>
</html>