<html>
<head>
<title>Space Server</title>
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
<script src="/static/js/jquery.js">
</script>
<script src="/static/js/socketio.js">
</script>
<script src="/static/js/home.js">
</script>
</head>
<body>
<noscript>
<div class="coverall error">
<h1>ERROR</h1>
<p>Please enable JavaScript in your web browser. If you continue to experience issues, try the latest version of Chrome or Firefox.</p>
</div>
</noscript>
<div class="container main">
<h1>Space Server</h1>
<div class="row">
<button class="col2" onclick="fullscreen(document.getElementsByTagName('html')[0]);">Commander</button>
<button class="col2" onclick="fullscreen(document.getElementsByTagName('html')[0]);">Navigator</button>
<button class="col2" onclick="fullscreen(document.getElementsByTagName('html')[0]);">Tactical</button>
<button class="col2" onclick="fullscreen(document.getElementsByTagName('html')[0]);">Operations</button>
<button class="col2" onclick="fullscreen(document.getElementsByTagName('html')[0]);">Engineer</button>
<button class="col2" onclick="fullscreen(document.getElementsByTagName('html')[0]);">Main Screen</button>
</div>
</div>
</body>
</html>